@import '~normalize.css';
@import './general/base.scss';
@import './general/variables.scss';
@import './general/typography.scss';
@import './components/ui.scss';
@import './helpers/classes.scss';
hr {
    margin: 35px 0px;
}

body {
    padding-bottom: 500px;
}

.wrap1 {
    border: 1px solid $danger;
    padding: 5px;
    margin-right: 30px;
    border-radius: 4px;
}

.wrap2 {
    border: 1px solid $primary;
    padding: 5px;
    border-radius: 4px;
}